services:
  worldfit_db:
    image: mysql:latest
    restart: unless-stopped #Necessario? Se si spegne docker proverà a far ripartire il container, 
                            #a meno che non sia stato stoppato dall'utente in precedenza 
                            #(Documentazione: https://docs.docker.com/reference/compose-file/services/#restart)
    networks:
      worldfit:
    ports:
      - '3306:3306' # Da rimuovere a testing finito
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_ls_root_password
      MYSQL_DATABASE: WorldFitLS
    volumes:
      - mysql_data:/var/lib/mysql #Volume contenente il DB. Valutare opzioni di backup.
      - ./init:/docker-entrypoint-initdb.d #Cartella contenente i file di inisializzazione del DB
    secrets:
      - db_ls_root_password
      - db_ls_api_password

  #worldfit_api:
    #build: ./api
    #Passiamo il nome del servizio come variabile d'ambiente, così non c'è bisogno di assegnare indirizzi IP statici:
    #Si occuperà Docker di comunicare l'indirizzo ip giusto all'API una volta che lo avrà creato.
    #environment:
    #  - DB_HOST=worldfit_db
    #depends_on:
    #  - worldfit_db
    #networks:
      #worldfit:
    #ports:
    #  - '80:80' #Esporre solo la 443 a progetto finito? Il client è un tornello specifico dopo tutto...
    #secrets:
      #- db_ls_api_password
      #- db_gs_api_user
      #- db_gs_api_password
    #Da completare, impostare secrets per variabili d'ambiente di root password, API key, ID Palestra che verranno prese
    #dallo script python che compone l'API

networks:
  worldfit: 
    driver: bridge #È corretto come driver di rete?
    ipam:
      config:
        - subnet: '172.25.0.0/24' #Rete troppo ampia?
volumes:
  mysql_data: #Voglio che il mio db sia salvato in un volume gestito da docker? E per eventuali backup?
secrets:
  db_ls_root_password:
    file: ./secrets/db_ls_root_password.txt
  db_ls_api_password:
    file: ./secrets/db_ls_api_password.txt
  db_gs_ip:
    file: ./secrets/db_gs_ip.txt
  db_gs_api_user:
    file: ./secrets/db_gs_api_user.txt
  db_gs_api_password:
    file: ./secrets/db_gs_api_password.txt
